extends layout

block content
  h1= title
  p Welcome to #{title}
  .tbl-content
    ol
      each article in articles
        div
          h3= article.artTitle
          p= article.text
          a(href='/blog/'+article.id)= article.autor()


        //a(href='users/' + names.id)
